<div class="m-3">
    <fieldset class="border p-2 mb-4" style="border-radius: 10px;">
        <legend  class="float-none w-auto">&nbsp;&nbsp;<i class="fa fa-bullhorn mr-2"></i> Attention !!! &nbsp;&nbsp;</legend>
          <center>
            <strong class="mx-4"><h4>{{text}}</h4></strong>   
          </center> 
    </fieldset>
</div>