<!-- TOP NAVIGASI START -->
<div class="btl">
</div>
<div class="btr">
   <a href="javascript:void(0);" onclick="$(`#dguser`).datagrid(`reload`);" class="btn-sm bt-1 r20" title="Reload"><i class="fa-solid fa-sync fa-sm"></i></a>
</div>
<!-- TOP NAVIGASI END -->
<div class="m-4">
    <div class="mb-2">
        <div class="card" style="border-radius: 10px;border-left: 5px solid var(--pa);border-right: 5px solid var(--pa);">
            <div class="col">
                <a href="" class="text-dark"><i class="fab fa-whatsapp fa-flip mr-2"></i><strong>WHATSAPP SKEDULE</strong></a>
            </div>
        </div>
    </div>
</div>